* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: aqua;
}

.container {
    background-color: azure;
    padding: 50px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.container_head {
    display: flex;
    align-items: center;
    color: rgb(16, 85, 2);
}

.container_head svg {
    fill: rgb(16, 85, 2);
    ;
    width: 100px;
    height: 60px;

}

.exchange_container {
    display: flex;
    align-items: flex-start;

}

button svg {
    width: 50px;
    height: 38px;
    fill: red;
}

input,
select,
button {
    max-width: 150px;
    min-width: 100px;
    height: 80px;
    border: none;
    text-align: center;
    background: none;
    font-size: 30px;
    border-radius: 20px;
}

input {
    background-color: rgba(25, 250, 5, 0.447);
    margin: 5px;

}